/*=============================  Header Css ====================================================*/
#header{
    height:$header-height;
    width:100%;
    background-color:white;
}
#header > div{
    background-image:$header-desktop-background-image;
    background-repeat: no-repeat;
    height: 100%;
}
#header div > img{
    position: relative;
    left:2.2%;
    width:1.5%;
    margin-top: 15px;
    height:57%;
}
#header div div img{
    height:76%;
    width:23%;
    padding-left: 10px;
    margin: 8px 8px 0 0;
}
#haeder ul li{
    padding:7px;
}
#header ul li img{
    width:17%;
    border-radius:15px;
}
#header div div{
    float:right;
    width:16%;
    height:86%;
    padding-top:0.5%;
    font-size:$font-size-userName-in-header;
    color: $color-userName-in-header;
    position:relative;
    content:"";
    display:flex;
    clear:both;
}
#header div div p{
    margin-right:1px;
    margin-top:13%;
    float:left;
    width:76%;
    text-align: right;
}
#header ul{
    list-style-type: $ul-list-style-type;
    background-color: white;
    top:95%;
    z-index: 1;
    border-radius:5px;
    width:80%;
    position:absolute;
    right:0;
}
#header a{
    color:black;
}
#header ul li:hover{
    background-color: red;
}
#header .display-table{
    display:table;
}
header .display-none{
    display:none;
}
@media only screen and (max-width: 480px){
    #header > div{
        background-image: $header-mobile-background-image;
    }
    #header div > img{
        width:5%;
        position: relative;
        left:9%;
        height:65%;
    }
    #header div div img{
        height:83%;
        margin-right:0;
        width:24%;
        padding-top: 0;
        border-radius:5px;
        position:static;
    }
    #header div div{
        width:45%;
        height:45px;
        padding-top: 1.5%;
    }
    #header div div p{
        margin-top:10%;
        width:73%;
        margin-right:0px;
    }
    #header ul{
        position:absolute;
        right:3%;
        top:98%;
        width:30%;
    }
}
/*======================================= Navigation CSS ========================================================*/
#nav{
    background-color:black;
}
#nav > div > ul > li{
    display:inline;
}
#nav > div   a{
    text-decoration: none;
    color: #ffffff;
    padding:5%;
    text-transform: uppercase;
}
#nav > div > ul > li > ul{
    display:none;
}
#nav > div  img{
    display:none;
}
#nav .display-block{
    display:block;
}
#nav .display-none{
    display:none;
}
#nav >div >ul li:hover{
    background: #474747;}

@media screen and (min-width:480px ){
    #nav{
        width: 100%;
        background-color: black;
    }
    #nav > div > ul{

        height: 2.5em;
        margin-left: 15%;
        background-color:rgb(37,37,37);
        padding-left: 0;
    }
    #nav > div > ul > li  >a{
        display: block;
        /*--To remove skew from text--*/
        -webkit-transform: skew(-150deg);/* Safari and Chrome */
        -o-transform: skew(-150deg);/* Opera */
        -moz-transform: skew(-150deg);/* Firefox */
        transform: skew(-150deg);
    }
    #nav > div > ul > li{
        float:left;
        padding-top: 0.5%;
        font-size:0.825em;
        height: 100%;
        box-sizing: border-box;
        margin-left: 1%;
        width: 15%;
        text-align: center;
        background-color: rgb(37,37,37);
        -webkit-transform: skew(150deg); /* Safari and Chrome */
        -o-transform: skew(150deg); /* Opera */
        -moz-transform: skew(150deg); /* Firefox */
        transform: skew(150deg);
    }
    #nav > div > ul > li:hover{
        background: #474747;
        border-bottom: 2px solid red;
    }
    #nav > div > ul > li:hover ul{
        display: inline;

    }
    #nav > div > ul > li > ul{
        z-index: 1;
        background-color: #373737;
        padding-left: 0;
        text-align: center;
        width:100%;
        margin-bottom: 0;
        /*--To remove skew from text--*/
        -webkit-transform: skew(30deg); /* Safari and Chrome */
        -o-transform: skew(30deg); /* Opera */
        -moz-transform: skew(30deg); /* Firefox */
        transform: skew(30deg);
    }
    #nav > div > ul > li > ul > li{
        list-style-type: none;
    }

    #nav > div >ul >  li:hover ul{
        display:inline-block;
    }
    #nav > div > ul > li > ul >li > a{
        display:block;
        width:87%;
        text-align:center;
    }
    #nav > div >ul > li > ul > li:hover{
        display:block;
        background-color: red;
        width:100%;
        text-align:center;
    }

}
@media only screen and (max-width: 480px){
    #nav{
        background-image: url("/public/images/system/common/mobileHeaderNav2.gif");
        height:60px;
    }
    #nav> div ul{
        display:none;
    }
    #nav > div > img{
        display:block;
        float:right;
        margin-top:5%;
        margin-right:6%;
        z-index: 2;
    }
    #nav > div > ul img{
        display:block;
        float:right;
        position: relative;
        right:0;
    }
    #nav > div > ul{
        z-index:1;
        position:relative;
        top:47px;
        width:100%;
        background-color: #353535;
    }
    #nav > div > ul >li{
        display:block;
        padding:4px;
    }
    #nav > div a{
        padding:0;
        margin-left:10px;
    }
}
/*========================================== Footer CSS =======================================================*/
#footerSection{
    clear:both;
    border-bottom:7px solid red;
    position:absolute;
    bottom:0;
    width:100%;
}
#footerSection p{
    color: #FFFFFF;
    text-align: left;
}
/*Media Query for mobile version*/
@media screen and (max-width: 480px) {
    #footerSection p {
        text-align: center;
    }
}
