.sprite { background: url('/public/images/system/common/sprite.png') no-repeat top left; width: 58px; height: 55px;  }
.sprite.aprooved { background-position: 0 0; width: 43px; height: 43px; } 
.sprite.button { background-position: 0 -53px; width: 24px; height: 22px; } 
.sprite.button1 { background-position: 0 -85px; width: 23px; height: 23px; } 
.sprite.calendarIcon { background-position: 0 -118px; width: 23px; height: 23px; } 
.sprite.background { background-position: 0 -151px; width: 1440px; height: 775px; } 
.sprite.colour1 { background-position: 0 -936px; width: 10px; height: 10px; } 
.sprite.colour2 { background-position: 0 -956px; width: 10px; height: 10px; } 
.sprite.colour3 { background-position: 0 -976px; width: 10px; height: 10px; } 
.sprite.colour4 { background-position: 0 -996px; width: 10px; height: 10px; } 
.sprite.colour5 { background-position: 0 -1016px; width: 10px; height: 10px; } 
.sprite.delete { background-position: 0 -1036px; width: 31px; height: 27px; } 
.sprite.desktopHeader1 { background-position: 0 -1073px; width: 1500px; height: 60px; } 
.sprite.deviceUsageArrowIcon { background-position: 0 -1143px; width: 20px; height: 20px; } 
.sprite.downArrow { background-position: 0 -1173px; width: 28px; height: 24px; } 
.sprite.dropdown { background-position: 0 -1207px; width: 15px; height: 12px; } 
.sprite.edit { background-position: 0 -1229px; width: 23px; height: 24px; } 
.sprite.headerBackgroundMobile { background-position: 0 -1263px; width: 320px; height: 58px; } 
.sprite.help { background-position: 0 -1331px; width: 16px; height: 15px; } 
.sprite.icon1 { background-position: 0 -1356px; width: 21px; height: 16px; } 
.sprite.icon2 { background-position: 0 -1382px; width: 21px; height: 16px; } 
.sprite.iconAllocatedDevices { background-position: 0 -1408px; width: 60px; height: 57px; } 
.sprite.iconAvailableDevices { background-position: 0 -1475px; width: 60px; height: 57px; } 
.sprite.iconDamagedDevices { background-position: 0 -1542px; } 
.sprite.iconLostDevices { background-position: 0 -1607px; } 
.sprite.iconNoDevices { background-position: 0 -1672px; } 
.sprite.iconPendingDevices { background-position: 0 -1737px; } 
.sprite.iconUnusedDevices { background-position: 0 -1802px; height: 56px; } 
.sprite.iconUpcomingDevices { background-position: 0 -1868px; } 
.sprite.iconUserQueueDevices { background-position: 0 -1933px; width: 60px; height: 56px; } 
.sprite.ipad { background-position: 0 -1999px; width: 356px; height: 238px; } 
.sprite.logo { background-position: 0 -2247px; width: 142px; height: 29px; } 
.sprite.logosapient { background-position: 0 -2286px; width: 125px; height: 29px; } 
.sprite.logout { background-position: 0 -2325px; width: 17px; height: 17px; } 
.sprite.minus { background-position: 0 -2352px; width: 43px; height: 43px; } 
.sprite.mobileCompanyLogo { background-position: 0 -2405px; width: 17px; height: 33px; } 
.sprite.mobileHeaderbefore480123 { background-position: 0 -2448px; width: 480px; height: 60px; } 
.sprite.mobileHeaderNav1 { background-position: 0 -2518px; } 
.sprite.mobileBackground { background-position: 0 -2583px; width: 480px; height: 800px; } 
.sprite.mobileHeaderNav2 { background-position: 0 -3393px; width: 400px; height: 60px; } 
.sprite.passwordLogo { background-position: 0 -3463px; width: 16px; height: 20px; } 
.sprite.pic1 { background-position: 0 -3493px; width: 113px; height: 112px; } 
.sprite.pic2 { background-position: 0 -3615px; } 
.sprite.pic3 { background-position: 0 -3680px; } 
.sprite.pic4 { background-position: 0 -3745px; } 
.sprite.pic5 { background-position: 0 -3810px; } 
.sprite.pic6 { background-position: 0 -3875px; } 
.sprite.pic7 { background-position: 0 -3940px; } 
.sprite.pic8 { background-position: 0 -4005px; } 
.sprite.pic9 { background-position: 0 -4070px; } 
.sprite.pic10 { background-position: 0 -4135px; width: 26px; height: 26px; } 
.sprite.plus { background-position: 0 -4171px; width: 43px; height: 43px; } 
.sprite.rightArrow { background-position: 0 -4224px; width: 22px; height: 26px; } 
.sprite.sapientLogo { background-position: 0 -4260px; width: 96px; height: 96px; } 
.sprite.sap-small-logo { background-position: 0 -4366px; width: 29px; height: 64px; } 
.sprite.search { background-position: 0 -4440px; width: 19px; height: 19px; } 
.sprite.stephini { background-position: 0 -4469px; width: 354px; height: 430px; } 
.sprite.unapprooved { background-position: 0 -4909px; width: 43px; height: 43px; } 
.sprite.top-logo { background-position: 0 -4962px; width: 2560px; height: 120px; } 
.sprite.username { background-position: 0 -5092px; width: 20px; height: 100px; } 
.sprite.usernameIcon { background-position: 0 -5202px; width: 19px; height: 23px; } 
.sprite.usernameLogo { background-position: 0 -5235px; width: 19px; height: 23px; } 