<div class="col-9 mob-col-12" id="adminDashboard">
    <h1>DASHBOARD</h1>
    <div>
        <h2>Services Offered</h2>
        <h3>Track the asset with their full description</h3>
    </div>
    <ul id="services">
        <li><a href="../manageDevice/manageDevice.shtml">
            <img src="/public/images/system/mobileHeaderNav1.png" class="img" alt="number of devices" title="number of devices"/>
            <p>Number of devices</p>
            <span class="noOfDevicesBtn">0 Devices</span>
        </a>
        </li>
        <li><a href="../manageDevice/manageDevice.shtml">
            <img src="/public/images/system/allocatedDevicePic.png" class="img" alt="total allocated devices" title="total allocated devices"/>
            <p>Total allocated devices</p>
            <span class="allocatedBtn">0 Devices</span>
        </a>
        </li>
        <li><a href="../manageDevice/manageDevice.shtml">
            <img src="/public/images/system/pic3.png" class="img" alt="total available devices" title="total available devices"/>
            <p>Total available devices</p>
            <span class="availDeviceBtn">0 Devices</span>
        </a>
        </li>
        <li><a href="../manageDevice/manageDevice.shtml">
            <img src="/public/images/system/pic5.png" class="img" alt="total lost devices" title="total lost devices"/>
            <p>Total lost devices</p>
            <span class="lostDeviceBtn">0 Devices</span>
        </a>
        </li>
        <li><a href="../manageDevice/manageDevice.shtml">
            <img src="/public/images/system/pic6.png" class="img" alt="total upcoming devices" title="total upcoming devices"/>
            <p>Total upcoming devices</p>
            <span class="upcomingBtn">0 Devices</span></a>
        </li>
        <li><a href="../manageDevice/manageDevice.shtml">
            <img src="/public/images/system/pic4.png" class="img" alt="total damaged devices" title="total damaged devices"/>
            <p>Total damaged devices</p>
            <span class="damagedDeviceBtn">0 Devices</span></a>
        </li>
        <li><a href="../manageDevice/manageDevice.shtml">
            <img src="/public/images/system/pic7.png" class="img" alt="total unused devices" title="total unused devices"/>
            <p>Total unused devices</p>
            <span class="unusedDeviceBtn">0 Devices</span></a>
        </li>
        <li><a href="../manageDevice/manageDevice.shtml">
            <img src="/public/images/system/pic8.png" class="img" alt="total pending devices" title="total pending devices"/>
            <p>Total pending requests</p>
            <span class="pendingDeviceBtn">0 Devices</span></a>
        </li>
        <li><a href="../manageDevice/manageDevice.shtml">
            <img src="/public/images/system/pic9.png" class="img" alt="total users in queue" title="total users in queue"/>
            <p>Total users in queue</p>
            <span class="queueDeviceBtn">0 Devices</span></a>
        </li>
    </ul>
</div>