<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"/>
    <meta name="description" content="goes here..."/>
    <meta name="keywords" content="keyword 1, keyword 2"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Asset Tracker Login</title>
    <link href="/public/css/global.css" rel="stylesheet">
</head>
<body >

<main id="forgetPassword" role="main" class="container clear-fix ">
    <section role="region" >
        <div class="col-12 mob-col-12">
            <!-- ====================== Main Heading begins...===============================  -->



            <!--[if lt IE 8]>
            <p>You are using an<strong>outdated</strong> browser.
                Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->


            <div id='heading' class="col-7 mob-col-12">
                <div class="logoImage">
                    <div  class='sprite logosapient'  alt="logo of sapient" title="logo of sapient"></div>
                </div>
                <div id="mainHeadingDiv">
                    <h1><span>ASSETS</span>
                        TRACKER SYSTEM</h1>
                </div>
            </div>


            <!--  =========================  Main Heading  ends. ==========================   -->


        <!--        ================== Forgot password form  begins. ==========================   -->
        <div class='form col-5 mob-col-12 to-left' >
            <form  name="loginform" id="loginForm">
                <fieldset>
                    <legend><h2>Forgot password</h2></legend>

                    <label class="login-hidden" for="forgotEmail">Forgot Password:</label>
                    <input id="forgotEmail" name="forgotEmail" autofocus autocomplete="on" type="text" class="form-inputBox form-input"
                      placeholder="Enter Email"  title="Enter your Email" />
                    <label class="login-hidden" for="forgetBtn">Submit:</label>
                    <input type="button" class="primary-button popup-button-show" id="forgetBtn" name="forgetBtn" value="submit"/>

                </fieldset>
            </form>
            <!-- =================== Forgot password form  ends=======================   -->
        </div>
            </div>

    </section>
    </main>
<script src="/public/javascripts/vendor/placeholder.js" type="text/javascript"></script>
<script src="/public/javascripts/vendor/jquery/jquery-1.12.0.js" ></script>
<script src="/public/javascripts/global/lightBox/lightBox.js" type="text/javascript">
</script>
</body>
</html>