<main  id="assetRequest" class="clear-fix col-9 mob-col-12">
    <section>
        <div class="heading col-12">
            <div class="col-6 mob-col-12 to-left"><h1>ASSETS REQUEST</h1></div>
            <div class="col-6">
                    <label for="search">Search</label>
                    <input type="search" id="search" name="search" placeholder="Search"/>
        </div>
        <!-- Content of manage device-->
        <div id="content">
            <ul class="head-row hide-mobile">
                <li>
                    <div class="col-2">ASSET NO</div>
                    <div class="col-2">DEVICE NAME</div>
                    <div class="col-5">DEVICE CONFIGURATION</div>
                    <div class="col-2">DETAILS</div>
                </li>
            </ul>

            <div id="innerDiv">
                <h2>PENDING REQUEST</h2>
                <ul id="deviceHistoryData" class="to-left clear-fix">
                    <li class=to-left">
                        <div class="col-2">Person Id</div>
                        <div class="col-2">Person Name</div>
                        <div class="col-2">Date of issue</div>
                        <div class="col-2">Date of return</div>
                        <div class="col-1">PID</div>
                        <div class="col-2">Manager</div>
                        <div class="col-1">Approval</div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>
