/**
* NAME OF THE STYLESHEET (admin.css)
* The styles in this file represent styles for the Sapient ASSET TRACKER SYSTEM site.
* @project   ASSET TRACKER SYSTEM
* @date      2015-12-23
* @author    SHOBHIT SINGH, SapientNitro <ssingh239@sapient.com>
* @licensor  SAPIENT
* @site      ASSET TRACKER SYSTEM
*
*
*
*/
/*============================  sapient logo image ========================*/

#forgetPassword main {
  display:table;
}

#forgetPassword section {
  height:100vh;
  display:table-cell;
  vertical-align:middle;
}


#forgetPassword h2 {
  color:#FFF;
  font-size:1.8em;
}


#forgetPassword h1 {
  font-size:3.71em;
  margin-top:42px;
  font-weight:lighter;
}

#forgetPassword h1 span {
  padding-right:44%;
}



#forgetPassword #mainHeadingDiv {
  width: 100%;
  letter-spacing:4px;
}


#forgetPassword .form-input {
  width:70%;
  font-size:1.2em;
  padding-left:6%;
}

#forgetPassword .primary-button {
  width:75%;
  font-size:1.2em;
}

#forgetPassword input {
  margin-top:7%;
}


#forgetPassword .login-hidden{
  display:none;
}


#forgetPassword form span {
  padding-left:1.2em;
  color:#FFF;
  float:left;
}

@media only screen and (max-width:30em) {
  #forgetPassword #heading {
    margin-top:0;
    position: relative;
    top: -220px;
  }

  #forgetPassword  #logoImg {
    margin-left:32%;
  }

  #forgetPassword #mainHeadingDiv {
    margin-left:10%;
    margin-top:20px;
  }

  #forgetPassword h1 span {
    padding-right:0;
  }

  #forgetPassword h2 {
    padding-left:.5em;
    font-size:1.4em;
  }

  #forgetPassword h1 {
    font-size:1.7em;
    margin:0;
  }


  #forgetPassword .form #forgetPasswordForm {
    margin-top:10%;
    font-size:1.2em;
  }

  #forgetPassword a {
    margin-right:49%;
    color:#2e60a5;
    float:left;
    margin-top:10px;
  }

  #forgetPassword input {
    margin-left:3%;
    margin-top:30px;
  }


  #forgetPassword form span {
    padding-left:20px;
    color:#FFF;
    float:left;
  }


  #forgetPassword .sprite.logosapient {
    margin:0 auto;
  }


}