<main class="col-9 to-left mob-col-12" id="myProfile">
    <h1>My Profile</h1>
    <section class="col-12 mob-col-12">
        <form id="profileForm">
            <fieldset>
                <ul id="profileMenu">
                    <li>
                        <span class="sprite edit edit-content"></span>
                        <label for="fullName">User Name</label>
                        <input type="text" name="fullName" id="fullName" autocomplete="on" class="form-inputBox form-input change-read edit-field" readonly="true"/>
                    </li>

                    <li>
                        <span class="sprite edit edit-content"></span>
                        <label for="oracleId">Oracle Id</label>
                        <input type="text" name="oracleId" id="oracleId" autocomplete="on" class="form-inputBox form-input change-read edit-field" readonly="true"/>
                    </li>

                    <li>
                        <span class="sprite edit edit-content"></span>
                        <label for="email">Email Id</label>
                        <input type="text" name="email" id="email" autocomplete="on" class="form-inputBox form-input change-read edit-field" readonly="true"/>
                    </li>

                    <li>
                        <span class="sprite edit edit-content"></span>
                        <label for="phone">Contact Number</label>
                        <input type="text" name="phone" id="phone" autocomplete="on" class="form-inputBox form-input change-read edit-field" readonly="true"/>
                    </li>

                    <li>
                        <span class="sprite edit edit-content"></span>
                        <label for="jobLocation">Address</label>
                        <input type="text" name="jobLocation" id="jobLocation" autocomplete="on" class="form-inputBox form-input change-read edit-field" readonly="true"/>
                    </li>

                    <li>
                        <span class="sprite edit edit-content"></span>
                        <label for="currentPassword">Current Password</label>
                        <input type="password" name="currentPassword" id="currentPassword" placeholder="Current Password" class="form-inputBox form-input change-read edit-field" readonly="true"/>
                    </li>

                    <li>
                        <label for="newPass">New Password</label>
                        <input type="password" name="newPass" id="newPass" placeholder="New Password" class="form-inputBox form-input" readonly="true" /></li>


                    <li>
                        <label for="confirmPass">Confirm Password</label>
                        <input type="password" name="confirmPass" id="confirmPass" placeholder="Re-type Password" class="form-inputBox form-input" readonly="true"/></li>


                    <li>
                        <label for="updateInfo">UPDATE</label>
                        <input type="submit" name="submitbtn" id="updateInfo" value="UPDATE" class="primary-button" /></li>
                </ul>
            </fieldset>
        </form>
    </section>
</main>