<main class="col-9 mob-col-12">
    <h1>UPCOMING DEVICE</h1>
   <!-- Upcoming device section-->
    <section class="col-12 mob-col-12">
        <form method="post" action="" name="upcomingDevice" id="upcomingDevice">
            <fieldset>
                <div>
                    <label for="deviceType" class="label-hidden">Device Type</label>
                    <input type="text" id="deviceType" placeholder="Device Type" name="deviceType"
                           autocomplete="on"  class="form-input form-inputBox"/>
                </div>
                <div>
                    <label for="deviceName" class="label-hidden">Device Name</label>
                    <input type="text" id="deviceName" placeholder="Device Name" name="deviceName" autocomplete="on"
                           class="form-input form-inputBox"/>
                </div>
                <div>
                    <label for="os" class="label-hidden">OS</label>
                    <input type="text" id="os" placeholder="OS" name="os" autocomplete="on"
                           class="form-input form-inputBox"/>
                </div>
                <div>
                    <label for="defaultApplications" class="label-hidden">Default Applications</label>
                    <input type="text" id="defaultApplications" placeholder="Default Applications" name="defaultApplications"
                           class="form-input form-inputBox"/>
                </div>
                <div class="selectMenu">
                    <label for="browserDropBox">Browser</label>
                    <span class="label-to-appear to-left">Browser</span>
                    <select id="browserDropBox" name="browserDropBox">
                        <option value="Opera">Opera</option>
                        <option value="IE">IE</option>
                        <option value="Chrome">Chrome</option>
                        <option value="Firefox">Firefox</option>
                    </select>
                </div>
                <input type="submit" value="SUBMIT" class="primary-button"/>
            </fieldset>
        </form>
    </section>
</main>

