<footer id="footerSection">
    <div class="container clear-fix">
        <p>COPYRIGHT &copy; 2006-2016 <strong> SAPIENT </strong></p>
    </div>
</footer>
<script src="/public/javascripts/vendor/jquery/jquery-1.12.0.js"></script>
<script src="/public/javascripts/vendor/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
<script src="/public/javascripts/vendor/jquery/jquery.validate.js"></script>
<script src="/public/javascripts/vendor/jquery/additional-methods.js"></script>
<script src="/public/javascripts/vendor/respond.min.js"></script>
<script src="/public/javascripts/vendor/placeholder.js"></script>
<script src="/config.js"></script>
<script src="/public/javascripts/global/common/common.js"></script>
<script src="/public/javascripts/global/header/header.js"></script>
<script src="/public/javascripts/global/navigation/navigation.js"></script>
<script src="/public/javascripts/validate/validate.js"></script>
<script src="/public/javascripts/vendor/debounce.js"></script>
<script src="/public/javascripts/global/filter/filter.js"></script>
<script src="/public/javascripts/search/search.js"></script>