<div class="col-3" id="leftPanel">
    <!-- Content of User Data-->
    <ul id="userData">
        <img src="/public/images/content/defaultpic.jpg" width="100%" alt="User profile pic">
        <li class="name">Stephanie Austria</li>
        <li class="oracleID">103465</li>
        <li class="emailID">saustria@sapient.com</li>
        <li class="jobTitle">Manager-Project Management</li>
        <li class="location">Seat #44,Akash Block</li>
    </ul>
    <!-- Content of carousel component-->
    <div id="carousel">
        <ol>
        </ol>
    </div>
    <div id = "carouselControls">
        <button id="arrowButtonLeft" class="arrowButton" title="Click to slide the devices available">
        <img src="/public/images/system/button.png" alt="Click to slide the  new devices available"/></button>
        <span>IPAD Mini</span>
        <button id="arrowButtonRight" class="arrowButton" title="Click to slide the devices available">
        <img src = "/public/images/system/button1.png" alt="Click to slide the  new devices available"/></button>
    </div>
</div>
