<div id="filter" class="col-3 to-left">
    <div id="filter-title">Filter your Search</div>
    <div class="filter-content">

        <h3>Devices</h3>
        <ul class="deviceList">
            <li><input type="checkbox" id="Cb" name="checkbox" />
                <label for="Cb"><span></span>Ipad</label></li>
            <li><input type="checkbox" id="Cb1" name="checkbox" />
                <label for="Cb1"><span></span>Iphone</label></li>
            <li><input type="checkbox" id="Cb2" name="checkbox" />
                <label for="Cb2"><span></span>Tablet</label></li>
            <li><input type="checkbox" id="Cb3" name="checkbox" />
                <label for="Cb3"><span></span>imac</label></li>
        </ul>
        <hr>
        <h3>Browsers</h3>
        <ul class="browserList">
            <li><input type="checkbox" id="Cb4" name="Browser" />
                <label for="Cb4"><span></span>Opera</label></li>
            <li><input type="checkbox" id="Cb5" name="Browser" />
                <label for="Cb5"><span></span>Chrome</label></li>
            <li><input type="checkbox" id="Cb6" name="Browser" />
                <label for="Cb6"><span></span>Safari</label></li>
            <li><input type="checkbox" id="Cb7" name="Browser" />
                <label for="Cb7"><span></span>Mozilla</label></li>
            <li><input type="checkbox" id="Cb8" name="Browser" />
                <label for="Cb8"><span></span>IE</label></li>
        </ul>
        <hr>
        <h3>Operating Systems</h3>
        <ul class="operatingSystemList">
            <li><input type="checkbox" id="Cb9" name="OperatingSystem" />
                <label for="Cb9"><span></span>IOS7</label></li>
            <li><input type="checkbox" id="Cb10" name="Browser" />
                <label for="Cb10"><span></span>Android</label></li>
            <li><input type="checkbox" id="Cb11" name="Browser" />
                <label for="Cb11"><span></span>Linux</label></li>
            <li><input type="checkbox" id="Cb12" name="Browser" />
                <label for="Cb12"><span></span>Mac Os X Lion</label></li>
        </ul>
    </div>
</div>