<article class="col-9 mob-col-12" id="addDevice">
    <h1>ADD DEVICE</h1>
    <section class="col-12 mob-col-12">
        <form  action="" id="deviceDetails">
            <fieldset>

                <label for="serialNumber">Serial Number</label>
                <input type="text" name="serialNumber" id="serialNumber" required="true" autocomplete="on" autofocus
                       placeholder="Serial Number" class="form-inputBox form-input"/>

                <label for="assetNumber">Assert Number</label>
                <input type="text" name="assetNumber" id="assetNumber" required="true" autocomplete="on"
                       placeholder="Assert Number" class="form-inputBox form-input"/>

                <label for="deviceType">Device Type</label>
                <input type="text" name="deviceType" id="deviceType" required="true" autocomplete="on"
                       placeholder="Device Type" class="form-inputBox form-input"/>

                <label for="deviceName">Device Name</label>
                <input type="text" name="deviceName" id="deviceName" required="true" autocomplete="on"
                       placeholder="Device Name" class="form-inputBox form-input"/>

                <label for="os">OS</label><input type="text" name="os" id="os" required="true" autocomplete="on"
                                                 placeholder="OS" class="form-inputBox form-input"/>

                <label for="defaultApplication">Default Application</label>
                <input type="text" name="defaultApplication" id="defaultApplication" required="true" autocomplete="on"
                       placeholder="Default Application" class="form-inputBox form-input"/>


                <div class="selectMenu">
                    <label for="browserDropBox">Browser</label>
                    <span class="label-to-appear to-left">Browser</span>
                    <select id="browserDropBox" name="browserDropBox">
                        <option value="Opera">Opera</option>
                        <option value="IE">IE</option>
                        <option value="Chrome">Chrome</option>
                        <option value="Firefox">Firefox</option>
                    </select>
                </div>

                <label for="submit">SUBMIT</label>
                <input type="submit" id="submit" name="submit" value="SUBMIT" class="primary-button"/>
            </fieldset>
        </form>
    </section>
</article>

