<nav id="nav">
    <div class="container clear-fix">
        <img src="/public/images/system/pic10.jpg" alt="burger dropdown" title="navigation dropdown">
        <ul>
            <li><a href="/views/adminDashboard/adminDashboard.shtml">ADMIN DASHBOARD</a></li>
            <li><a href="/views/deviceHistory/deviceHistory.shtml">DEVICE INFO</a></li>
            <li>
                <a href="/views/manageDevice/manageDevice.shtml">MANAGE DEVICE
                    <img src="/public/images/system/dropdown.png" alt="manage device dropdown" title=" dropdown"></a>
                <ul>
                    <li><a href="/views/addDevice/addDevice.shtml">NEW DEVICE</a></li>
                    <li><a href="/views/lostDevice/lostDevice.shtml">LOST DEVICE</a></li>
                    <li><a href="/views/upcomingDevice/upcomingDevice.shtml">UPCOMING DEVICE</a></li>
                    <li><a href="/views/manageDevice/manageDevice.shtml">MANAGE DEVICE</a></li>
                </ul>
            </li>
            <li><a href="#">DEVICE LIST</a></li>
            <li><a href="/views/assetRequestAdmin/assetRequestAdmin.shtml">REQUESTS</a></li>
            <li><a href="#">MY DEVICE</a></li>
        </ul>
    </div>
</nav>