
<header id="header">
    <div class="container clear-fix">
       <img src="/public/images/system/common/sapientLogoDesktop.png" alt="logo" title="Sapient logo">
        </img>
        <div>
            <p>User</p>
            <img src="/public/images/content/defaultpic.jpg" alt="Click here for the fly out menu" title="Click here to have the fly out menu ">
            </img>
        </div>
        <ul class="display-none">
            <li>
                <a href="/views/myProfile/myProfile.shtml">
                    <img src="/public/images/content/defaultpic.jpg" alt="Use profile">
                    </img>My profile</a>
            </li>
            <li>
                <a href="/views/login/login.html">
                    <img src="/public/images/system/logout.png" alt="Log Out">
                    </img>Log Out</a>
            </li>
        </ul>
    </div>
</header>
<!--

<script src="/config.js">
</script>
<script src="/public/javascripts/vendor/jquery/jquery-1.12.0.js"></script>
<script>
    $("p").text(JSON.parse(localStorage.getItem(config.storeData.loginDataKey)).fullName);
</script>-->
