<main id="manageDevice" class="clear-fix col-9 mob-col-12">
    <section>
        <div class="heading col-12">
            <div class="col-6 mob-col-12 "><h1>MANAGE DEVICES</h1></div>
            <div class="col-6">
                <form>
                    <label for="search">Search</label>
                    <input type="search" id="search" name="search" placeholder="Search"/>
                </form>
            </div>
        </div>
        <!-- Content of manage device-->
        <div id="content">
            <ul class="head-row hide-mobile">
                <li>
                    <div class="col-2">ASSET NO</div>
                    <div class="col-2">DEVICE NAME</div>
                    <div class="col-5">DEVICE CONFIGURATION</div>
                    <div class="col-2">DETAILS</div>
                </li>
            </ul>
        </div>
    </section>
</main>
